.navbar{
    z-index: 1000;
    background-color: aliceblue;
}
.full{
    background-color: rgb(221, 221, 221);
}
.user-pic{
    float: left;
    width: 100%;
    background-color: #e44d3a;
    padding-top: 20px;
}
.user-profile{
    align-items: center;
    text-align: center;
    background-color:white ;
    padding-bottom: 20px;
}
.user-name{
    float: left;
    width: 100%;
    padding: 63px 0 27px 0;
}
.img-1{
    width: 110px;
    height: 110px;
    margin: 0 auto;
    margin-bottom: -48px;
}
.user-picy{
    float: left;
    width: 50px;
}
.post-topbar {
    float: left;
    width: 100%;
    margin-top: 20px;
    padding: 23px 20px;
    background-color: #fff;
    border-top: 4px solid #e44d3a;
    border-left: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    margin-bottom: 20px;
}
.user-stat{
float: right;
margin-top: 5px;
}
ul{
    list-style-type: none; 
    padding: 0; 
    margin: 0;
}
.user-stat ul li a{
    color: #b2b2b2;
    font-size: 16px;
    display: inline-block;
    margin-right: 10px;
    background-color: #e5e5e5;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    font-weight: 500;
}
.user-stat ul li a.active {
    background-color: #e44d3a;
    color: #fff;
}
.time-work{
    margin-top: 20px;
    align-items: center;
    background-color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.post-bar {
    float: left;
    width: 100%;
    background-color: #fff;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 2px #e4e4e4;
}

.img4{
    float: left;
    margin-top: -5px;
    margin-right: 9px;
}

.skill{
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
.timeing{
    color: #b2b2b2;
    font-size: 16px;
    display: inline-block;
    margin-right: 10px;
    background-color: #532ce1;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    font-weight: 500;
}
.veiw{
    float: right;
}
.right-side-2{
    background-color: white;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.payment{
    float: right;
    color: black;
}
.left-side-2{
    background-color: white;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.dropdown-button {
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    font-size: 18px;
    cursor: pointer;
  }
  .info{
    text-align: center;
    color: black;
  }
  .middle3{
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .prof{
    text-align: center;
    background-color: white;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .hire-fire{
    color: white;
    font-size: 8px;
    display: inline-block;
    margin-right: 10px;
    background-color: #268e55;
    height: 30px;
    padding: 0 5px;
    line-height: 40px;
    font-weight: 500;
  }